{% extends "base.html" %}
{% load static %}
{% load filters %}
{% load i18n %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_js %}
    <script>
        $(document).ready(function () {
            var test_id = {{ test_id | jsonify }};
            var chapter_id = {{ chapter_id | jsonify }};
            var vm = new Quiz();
            ko.applyBindings(vm);
            if (test_id) {
                var test_questions = {{ test_questions | jsonify }};
                var test_question_answers = {{ test_question_answers | jsonify }};

                var test_question_mapping = {
                        question: {
                            update: function (options) {
                                var t_question_mapping = {
                                    'choices': {
                                        create: function (options) {
                                            return ko.mapping.fromJS(options.data, {}, new Choice());
                                        }
                                    }
                                };
                                return ko.mapping.fromJS(options.data, t_question_mapping, new Question())
                            }
                        }
                    };
                var completed_test_qas = ko.utils.arrayMap(test_question_answers, function (completed_test_qa) {
                    var tq_mapping = {
                        'test_question': {
                            update: function (options) {
                                ko.mapping.fromJS(options.data, test_question_mapping, new TestQuestion())
                            }
                        }
                    };
                return ko.mapping.fromJS(completed_test_qa, tq_mapping, new TestQuestionAnswer())
                });

                var test_quiz_questions = ko.utils.arrayMap(test_questions, function (test_question) {
                    var test_question_answer = new TestQuestionAnswer();
                    test_question_answer.test_question = ko.mapping.fromJS(test_question, test_question_mapping, new TestQuestion());
                    return test_question_answer
                });
                vm.test_question_answers(test_quiz_questions);
            } else if (chapter_id ){
                var chapter_questions = {{ chapter_questions | jsonify }};

                var chapter_quiz_questions = ko.utils.arrayMap(chapter_questions, function (chapter_question) {
                    var test_question_answer = new TestQuestionAnswer();
                    test_question_answer.test_question = new TestQuestion();
                    var ch_question_mapping = {
                        'choices': {
                            create: function (options) {
                                return ko.mapping.fromJS(options.data, {}, new Choice());
                            }
                        }
                    };
                    test_question_answer.test_question.question = ko.mapping.fromJS(chapter_question, ch_question_mapping, new Question());
                    test_question_answer.test_question.points(1);
                    test_question_answer.test_question.student({{ student_id | jsonify }});
                    return test_question_answer;
                });
                vm.test_question_answers(chapter_quiz_questions);
            }

        });
    </script>
    <script type="text/javascript" src="{% static 'public/plugins/knockout/dist/knockout.js' %}"></script>
    <script type="text/javascript" src="{% static 'public/plugins/knockout-mapping/knockout.mapping.js' %}"></script>
    <script type="text/javascript" src="{% static 'public/plugins/knockout-bindings/bindings.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'public/plugins/knockout-file-bindings/knockout-file-bindings.js' %}"></script>

    <script type="text/javascript"
            src="{% static 'public/plugins/bootstrap-toggle/js/bootstrap-toggle.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'public/plugins/blockUI/jquery.blockUI.js' %}"></script>
    <script type="text/javascript" src="{% static 'public/plugins/toastr/toastr.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'public/plugins/jsutil/App.js' %}"></script>
    <script type="text/javascript" src="{% static 'public/academy/js/quiz.js' %}"></script>
{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'public/plugins/bootstrap-toggle/css/bootstrap-toggle.min.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'public/plugins/toastr/toastr.min.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'public/plugins/knockout-file-bindings/knockout-file-bindings.css' %}">
{% endblock %}

{% block content %}

    <div id="carouselExampleControls" class="carousel slide">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <div class="card-block">
                    {#                    TODO this is quiz info#}
                    <h1>This is quiz description</h1>
                </div>
            </div>
            <!-- ko foreach: quiz_questions -->
            <div class="carousel-item">
                <img class="d-block img-fluid" src="..." alt="Second slide">
            </div>
            <!-- /ko -->
        </div>
    </div>



{% endblock %}
