{% extends "base.html" %}
{% load static %}
{% load filters %}
{% load i18n %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_js %}
    <script>
        $(document).ready(function () {
            var test_questions = {{ test_questions | jsonify }};
            var chapter_questions = {{ chapter_questions | jsonify }};
            var vm = new Quiz();
            ko.applyBindings(vm);
            if (test_questions) {
                var test_quiz_questions = ko.utils.arrayMap(test_questions, function (test_question) {
                    var test_question_mapping = {
                        question: {
                            update: function (options) {
                                var t_question_mapping = {
                                    'choices': {
                                        create: function (options) {
                                            return ko.mapping.fromJS(options.data, {}, new Choice());
                                        }
                                    }
                                };
                                return ko.mapping.fromJS(options.data, t_question_mapping, new Question())
                            }
                        }
                    };
                    var quiz_ques = ko.mapping.fromJS(test_question, test_question_mapping, new QuizQuestion());
                    quiz_ques.test({{ test_id | jsonify }});
                    quiz_ques.student({{ student_id | jsonify }});
                    return quiz_ques;
                });
                vm.quiz_questions(test_quiz_questions);
            } else if (chapter_questions) {
                var chapter_quiz_questions = ko.utils.arrayMap(chapter_questions, function (chapter_question) {
                    var quiz_question = new QuizQuestion();
                    var ch_question_mapping = {
                        'choices': {
                            create: function (options) {
                                return ko.mapping.fromJS(options.data, {}, new Choice());
                            }
                        }
                    };
                    quiz_question.question = ko.mapping.fromJS(chapter_question, ch_question_mapping, new Question());
                    quiz_question.points(1);
                    quiz_question.student({{ student_id | jsonify }});
                    return quiz_question;
                });
                vm.quiz_questions(chapter_quiz_questions);
            }

        });
    </script>
    <script type="text/javascript" src="{% static 'public/plugins/knockout/dist/knockout.js' %}"></script>
    <script type="text/javascript" src="{% static 'public/plugins/knockout-mapping/knockout.mapping.js' %}"></script>
    <script type="text/javascript" src="{% static 'public/plugins/knockout-bindings/bindings.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'public/plugins/knockout-file-bindings/knockout-file-bindings.js' %}"></script>

    <script type="text/javascript"
            src="{% static 'public/plugins/bootstrap-toggle/js/bootstrap-toggle.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'public/plugins/blockUI/jquery.blockUI.js' %}"></script>
    <script type="text/javascript" src="{% static 'public/plugins/toastr/toastr.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'public/plugins/jsutil/App.js' %}"></script>
    <script type="text/javascript" src="{% static 'public/academy/js/quiz.js' %}"></script>
{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'public/plugins/bootstrap-toggle/css/bootstrap-toggle.min.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'public/plugins/toastr/toastr.min.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'public/plugins/knockout-file-bindings/knockout-file-bindings.css' %}">
{% endblock %}

{% block content %}

    <div id="carouselExampleControls" class="carousel slide">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <div class="card-block">
                    {#                    TODO this is quiz info#}
                    <h1>This is quiz description</h1>
                </div>
            </div>
            <!-- ko foreach: quiz_questions -->
            <div class="carousel-item">
                <img class="d-block img-fluid" src="..." alt="Second slide">
            </div>
            <!-- /ko -->
        </div>
    </div>



{% endblock %}
