{% extends "base.html" %}
{% load static %}
{% load filters %}
{% load i18n %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_js %}
    <script>
        $(document).ready(function () {
            var initialData = {{ initial_data | jsonify }};
            var vm = new Test();
{#            ko.applyBindings(vm);#}
{#            if (initialData.questions) {#}
{#                var mapping = {#}
{#                    'questions': {#}
{#                        create: function (options) {#}
{#                            var question_mapping = {#}
{#                                'choices': {#}
{#                                    create: function (options) {#}
{#                                        var choice = ko.mapping.fromJS(options.data, {}, new Choice());#}
{#                                        return choice;#}
{#                                    }#}
{#                                },#}
{#                                'image': {#}
{#                                    update: function (options) {#}
{#                                        if (!options.data) {#}
{#                                            return {#}
{#                                                dataURL: ko.observable()#}
{#                                            }#}
{#                                        } else {#}
{#                                            return {#}
{#                                                dataURL: ko.observable(options.data)#}
{#                                            }#}
{#                                        }#}
{#                                    }#}
{#                                }#}
{#                            };#}
{##}
{#                            var question = ko.mapping.fromJS(options.data, question_mapping, new Question());#}
{##}
{#                            return question;#}
{#                        }#}
{#                    }#}
{#                };#}
{#                ko.mapping.fromJS(initialData, mapping, vm);#}
{#            }#}
        });
    </script>
    <script type="text/javascript" src="{% static 'public/plugins/knockout/dist/knockout.js' %}"></script>
    <script type="text/javascript" src="{% static 'public/plugins/knockout-mapping/knockout.mapping.js' %}"></script>
    <script type="text/javascript" src="{% static 'public/plugins/knockout-bindings/bindings.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'public/plugins/knockout-file-bindings/knockout-file-bindings.js' %}"></script>

    <script type="text/javascript"
            src="{% static 'public/plugins/bootstrap-toggle/js/bootstrap-toggle.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'public/plugins/blockUI/jquery.blockUI.js' %}"></script>
    <script type="text/javascript" src="{% static 'public/plugins/toastr/toastr.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'public/plugins/jsutil/App.js' %}"></script>
    <script type="text/javascript" src="{% static 'public/academy/js/chapterquestion_form.js' %}"></script>
{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'public/plugins/bootstrap-toggle/css/bootstrap-toggle.min.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'public/plugins/toastr/toastr.min.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'public/plugins/knockout-file-bindings/knockout-file-bindings.css' %}">
{% endblock %}

{% block content %}

    <form data-bind="submit: save" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card bg-faded">
            <div class="card-block">
                {{ forms.test_create_form }}
            </div>
{#            This div is for selected course chapters#}
            <div class="card-block">
                
            </div>
        </div>

    </form>

{% endblock %}
